body {
    font-family: 'Montserrat', sans-serif;
    color: #18191F;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 60px;
    color: gray;
}

.container {
    padding: 0 5%;
    margin-bottom: 70px;
}

.hero-sect {
    display: flex;
    align-items: center;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 100%;
}

.hero-paragraph {
    margin-bottom: 60px;
}

.button {
    background-image: linear-gradient(to right, #FBA24F, #FF1E1E);
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: 600;
}

.orange {
    background-image: linear-gradient(to right, #FBA24F, #FF1E1E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-sect {
    display: flex;
    align-items: center;
}

h2 {
    font-size: 50px;
    color: gray;
}

.about-img {
    display: flex;
    justify-content: center;
}

.about-img img {
    max-width: 300px;
    margin-top: 50px;
}

.about-sect {
    background-image: url(../images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* My Recipes Section */


.section-title {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.recipies {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

.recipie {
    width: 45%;
    padding: 20px;
    box-shadow: 10px 10px 40px gainsboro;
    border-radius: 40px;
}

.recipie img {
    width: 100%;
}

/* Social Proof Section */

.big {
    font-size: 50px;
    font-weight: 700;
    margin: 0;
}

.social-proof {
    display: flex;
    justify-content: space-around;
    box-shadow: 10px 10px 40px gainsboro;
    padding: 20px;
    border-radius: 20px;
    margin: 5%;
}

/* Footer */

footer {
    text-align: center;
    background-color: #18191F;
    padding: 50px 0;
}

footer p {
    color: white;
}

footer h2 {
    margin: 0;
}