body {
    font-family: 'Montserrat', sans-serif;
    color: #18191F;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 60px;
    color: gray;
}

.container {
    margin: 0 5%;
}

.hero-sect {
    display: flex;
    align-items: center;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 100%;
}

.hero-paragraph {
    margin-bottom: 60px;
}

.button {
    background-image: linear-gradient(to right, #FBA24F, #FF1E1E);
    padding: 15px 30px;
    border-radius: 30px;

}

.orange {
    background-image: linear-gradient(to right, #FBA24F, #FF1E1E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}